<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Drumkit</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link href="resources/styles/main.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<header>
  <h1>JS knowledge base, playground, rabbit holes, excersises etc. </h1>
</header>
<span>https://letsbitebytes.com/blog/karuzela-flexbox-dowiedz-sie-jak-dziala/</span>
    <div class="box">
    <ul class="carousel is-steady">
        <li class="carousel-item">nd</li>
        <li class="carousel-item">pon</li>
        <li class="carousel-item">wt</li>
        <li class="carousel-item">śr</li>
        <li class="carousel-item">czw</li>
        <li class="carousel-item">pt</li>
        <li class="carousel-item is-first">sob</li>
    </ul>
    </div>
        <input type="button" id="button-previous" value="previous">
        <input type="button" id="button-next" value="next">
<footer>
  <h1>footer content soon</h1>
</footer>

  <script src="resources/scripts/bundle.js"></script>
</body>
</html>