<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta property="og:site_name" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <title>Hello World!</title>
        <link href="resources/styles/main.css" rel="stylesheet">
    </head>
    <body>
<header>
  <h1>JS knowledge base, playground, rabbit holes, excersises etc. </h1>
</header>

<ul class="js-content-list">
    <li class="js-content-list-item">
      <a href="drums.html" class="link">Vanilla JS drumkit</a>
    </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link">Minimum function</a>
  </li>
  <li class="js-content-list-item">
    <a href="clickCounter.html" class="link">Click counter</a>
  </li>
  <li class="js-content-list-item">
    <a href="offlineForms.html" class="link">Offline forms</a>
  </li>
  <li class="js-content-list-item">
    <a href="flexboxCarousel.html" class="link">Flexbox carousel</a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
    <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
  <li class="js-content-list-item">
    <a href="minimum.html" class="link"></a>
  </li>
</ul>
<footer>
  <h1>footer content soon</h1>
</footer>

        <script src="resources/scripts/bundle.js"></script>
    </body>
</html>
