<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Drumkit</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link href="resources/styles/main.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
    <header>

     <h1>JS knowledge base, playground, rabbit holes, excersises etc. </h1>
    </header>
      <p class="minimum">Check which property is smaller</p>
  <label for="min">Minimum</label>
  <input type="number" value="0" id="minInput">

  <label for="maximum">Maximum</label>
  <input id="maxInput" type="number" value="0">
  <input id="submit" type="submit" value="Check">
<footer>
  <h1>footer content soon</h1>
</footer>
<script src="resources/scripts/bundle.js"></script>
</body>
</html>